In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import json
from time import sleep

In [2]:
from urllib.request import urlopen

In [3]:
df = pd.read_csv("leetcode_indian_userrating.csv")

In [4]:
df.head()

    rating             username
0  2841.96            aryanc403
1  2707.79               ap1008
2  2701.02  LosingNowLosingLate
3  2676.75           taran_1407
4  2667.42             anil9717

In [5]:
df.shape

(16743, 2)

In [15]:
df.drop(df.columns[[0,1,2,5]], axis=1, inplace=True)
df.head()

    rating             username
0  2841.96            aryanc403
1  2707.79               ap1008
2  2701.02  LosingNowLosingLate
3  2676.75           taran_1407
4  2667.42             anil9717

In [16]:
df.shape

(16743, 2)

In [6]:
names = df['username']
len(names.unique())
names

0                  aryanc403
1                     ap1008
2        LosingNowLosingLate
3                 taran_1407
4                   anil9717
                ...
16738           koushikj9823
16739       puneetchhabra741
16740                 warret
16741           shahtanmay13
16742          aakashdev1712
Name: username, Length: 16743, dtype: object

In [7]:
totalSolved = []
easySolved = []
mediumSolved = []
hardSolved = []
acceptanceRate = []
ranking = []
contributionPoints = []
reputation = []

In [8]:
i=0

In [9]:
j=i

In [10]:
for name in names[j:j+100]:
    print(name)
    url = "https://leetcode-stats-api.herokuapp.com/"+name
    print(url)
    page = urlopen(url)
    sleep(1)
    i=i+1
    html_bytes = page.read()
    html = html_bytes.decode('utf-8')
    data = json.loads(html)
    print(data['totalSolved'])
    totalSolved.append(data['totalSolved'])
    easySolved.append(data['easySolved'])
    mediumSolved.append(data['mediumSolved'])
    hardSolved.append(data['hardSolved'])
    acceptanceRate.append(data['acceptanceRate'])
    ranking.append(data['ranking'])
    contributionPoints.append(data['contributionPoints'])
    reputation.append(data['reputation'])

aryanc403
https://leetcode-stats-api.herokuapp.com/aryanc403
0
ap1008
https://leetcode-stats-api.herokuapp.com/ap1008
549
LosingNowLosingLate
https://leetcode-stats-api.herokuapp.com/LosingNowLosingLate
574
taran_1407
https://leetcode-stats-api.herokuapp.com/taran_1407
881
anil9717
https://leetcode-stats-api.herokuapp.com/anil9717
429
razimantv
https://leetcode-stats-api.herokuapp.com/razimantv
1100
mafailure
https://leetcode-stats-api.herokuapp.com/mafailure

KeyboardInterrupt:

In [180]:
len(totalSolved)

1491

In [212]:
datafr = pd.read_excel("test to check.xlsx",engine="openpyxl")
datafr.head()

   Unnamed: 0   rating             username
0           0  2841.96            aryanc403
1           1  2707.79               ap1008
2           2  2701.02  LosingNowLosingLate
3           3  2676.75           taran_1407
4           4  2667.42             anil9717

In [213]:
datafr.shape

(1491, 3)

              username
0            aryanc403
1               ap1008
2  LosingNowLosingLate
3           taran_1407
4             anil9717

In [214]:
datafr['totalSolved'] = totalSolved
datafr['easySolved'] = easySolved
datafr['mediumSolved'] = mediumSolved
datafr['hardSolved'] = hardSolved
datafr['acceptanceRate'] = acceptanceRate
datafr['ranking'] = ranking
datafr['contributionPoints'] = contributionPoints
datafr['reputation'] = reputation

In [215]:
datafr.head()

,Unnamed: 0,rating,username,totalSolved,easySolved,mediumSolved,hardSolved,acceptanceRate,ranking,contributionPoints,reputation
0,0,2841.96,aryanc403,0,0,0,0,0.00,3158957,17,0
1,1,2707.79,ap1008,549,198,277,74,58.24,47771,1458,0
2,2,2701.02,LosingNowLosingLate,574,120,400,54,68.44,42358,2758,0
3,3,2676.75,taran_1407,881,201,500,180,66.37,10428,37797,10
4,4,2667.42,anil9717,429,133,210,86,69.90,85976,7747,2

In [220]:
datafr.drop(datafr.columns[[0]], axis=1, inplace=True)
datafr.head()

,rating,username,totalSolved,easySolved,mediumSolved,hardSolved,acceptanceRate,ranking,contributionPoints,reputation
0,2841.96,aryanc403,0,0,0,0,0.00,3158957,17,0
1,2707.79,ap1008,549,198,277,74,58.24,47771,1458,0
2,2701.02,LosingNowLosingLate,574,120,400,54,68.44,42358,2758,0
3,2676.75,taran_1407,881,201,500,180,66.37,10428,37797,10
4,2667.42,anil9717,429,133,210,86,69.90,85976,7747,2

In [204]:
url = "https://leetcode-stats-api.herokuapp.com/saumya22nov"
print(url)

https://leetcode-stats-api.herokuapp.com/saumya22nov

In [205]:
page = urlopen(url)

HTTPError: HTTP Error 503: Service Unavailable

In [ ]:
html_bytes = page.read()
html = html_bytes.decode('utf-8')

In [ ]:
import json
data = json.loads(html)

In [112]:
data

{'status': 'success',
 'message': 'retrieved',
 'totalSolved': 112,
 'totalQuestions': 2603,
 'easySolved': 64,
 'totalEasy': 637,
 'mediumSolved': 46,
 'totalMedium': 1386,
 'hardSolved': 2,
 'totalHard': 580,
 'acceptanceRate': 52.77,
 'ranking': 548894,
 'contributionPoints': 426,
 'reputation': 1,
 'submissionCalendar': {'1664236800': 1,
  '1664582400': 1,
  '1665446400': 5,
  '1670284800': 4,
  '1670371200': 2,
  '1670457600': 1,
  '1670544000': 8,
  '1671062400': 1,
  '1671408000': 1,
  '1672876800': 6,
  '1672963200': 9,
  '1673049600': 8,
  '1673136000': 7,
  '1673222400': 5,
  '1673308800': 8,
  '1673395200': 5,
  '1673481600': 12,
  '1673568000': 1,
  '1673827200': 3,
  '1673913600': 2,
  '1674000000': 6,
  '1674086400': 2,
  '1674345600': 1,
  '1674432000': 8,
  '1674518400': 6,
  '1674604800': 3,
  '1674691200': 1,
  '1674777600': 2,
  '1674950400': 3,
  '1675036800': 3,
  '1675123200': 8,
  '1675209600': 1,
  '1675382400': 2,
  '1675468800': 6,
  '1675555200': 1,
  '1675641600': 2,
  '1675728000': 8,
  '1675814400': 2,
  '1675987200': 2,
  '1676073600': 4,
  '1676160000': 2,
  '1676246400': 7,
  '1676332800': 3,
  '1676592000': 3,
  '1676678400': 13,
  '1676764800': 3,
  '1676851200': 2,
  '1677888000': 2,
  '1678060800': 3,
  '1679097600': 5,
  '1679184000': 3,
  '1679270400': 9,
  '1679356800': 7,
  '1679443200': 2,
  '1679529600': 5,
  '1679616000': 3,
  '1679702400': 2}}

In [221]:
sheets = ['Sheet1']
finalfile = 'final.xlsx'
writer = pd.ExcelWriter(finalfile)
for sheet in sheets:
    datafr.to_excel(writer,sheet)
writer.save()

C:\Users\admin\AppData\Local\Temp\ipykernel_19332\2256191554.py:6: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()